:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    ---lightgrey: hsl(217, 12%, 63%);
    --darkblue: hsl(213, 19%, 18%);
    --verydarkblue: hsl(216, 12%, 8%); 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verydarkblue);
    color: var(--white);
    font-size: 20px;
}

.card{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15%;
    background-color: var(--darkblue);
    padding: 2%;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}