@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --lightgrey: hsl(217, 12%, 63%);
    --darkblue: hsl(213, 19%, 18%);
    --verydarkblue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--verydarkblue);
    color: var(--white);
    font-size: 8px;
    font-family: "Overpass", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 30%;
    height: 45%;
    background-color: var(--darkblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
    padding: 2%;
}


.selection-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit{
    width: 100%;
}
.submit-button{
    width: 100%;
    background-color: var(--orange);
    padding: 5%;
    border: 1px solid black;
    border-radius: 35px;
}