@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body{
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
main{
    background-color: hsl(0, 0%, 100%);
    width: 24%;
    height: auto;
    padding: 2%;
    border: 1px solid black;
    box-shadow: 10px 10px;
    border-radius: 15px;
}

/*IMG*/
.img{
    width: 100%;
    border-radius: 10px;
}

/*TAGS*/
.tags{
    width: 22%;
}
.tags-text{
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-weight: 700;
    padding: 10%;
    text-align: center;
    border-radius: 5px;
    width: 100%;
}

/*DATE*/
.date-p{
    color: hsl(0, 0%, 7%);
}

/*TEXT*/
.text-p{
    color: hsl(0, 0%, 42%);
}
.text-a{
    text-decoration: none;
    color: black;
}
.text-a:hover{
    color: hsl(47, 88%, 63%);
}

/*AUTHOR*/
.author{
    display: flex;
    gap: 1%;
}
.author-img{
    width: 15%;
}
.author-p{
    color: hsl(0, 0%, 7%);
    font-weight: 700;
}

@media screen and (max-width: 720px){
    main{
        width: 80%;
    }
}